.button {
    display: inline-block;
    color: #fff;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    text-align: center;
}

.primaryButton {
    background-color: #301c9f;
    padding: 10px 20px;
    font-size: 16px;
}

.secondaryButton {
    background-color: #c0392b;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding: 4px;
}