.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.filteredList {
  height: fit-content;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}