.wrapper {
  padding: 2rem 1rem;
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  background: var(--bg);
  transition: var(--transition);
}

.filtersContainer,
.addFormsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
}

/* Responsive */
@media (max-width: 768px) {
  .filtersContainer,
  .addFormsContainer {
    flex-direction: column;
    align-items: stretch;
  }
}
