.wrapper {
  padding: 2rem 1rem;
  margin: 32px 0 0 32px;

  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;

  background: var(--bg);
  transition: var(--transition);
}

.topMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}