.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.button:hover {
  background: var(--accent-hover);
  color: #fff;
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
  border: 1px solid var(--accent-hover);
}

.active {
  position: relative;
  background: var(--accent);
  color: var(--button-primary-text);
  border: 1px solid var(--accent-hover);
  box-shadow: var(--shadow-md);
  transform: translateY(-2px);
}

.active:hover {
  background: var(--accent);
  color: var(--button-primary-text);
  border: 1px solid var(--accent-hover);
  box-shadow: var(--shadow-md);
  transform: translateY(-2px);
}

.themeMenu {
  position: absolute;
  top: 10px;
  z-index: 100;
  display: flex;
  gap: 0.5rem;
  margin: 10px;
  padding: 30px;
}
